@import "tailwindcss";

/* @layer base {
  :root {
    --bg-body: linear-gradient(252deg, #F7F9FA 12.74%, #F7F9FA 98.57%);
    --accent: #4FD8E0;
    --color-primary: #436475;
    --color-secondary: #2aa3ef0a;
    --bg-primary: rgba(42, 163, 239, 0.04);
    --bg-secondary: #2aa3ef0a;
  }

  .dark {
    --bg-body: linear-gradient(0deg, #255878 0%, #15202B 98.36%);
    --accent: #2AA3EF;
    --color-primary: #F1F1F1;
    --color-secondary: #F1F1F1;
    --bg-primary: rgba(42, 163, 239, 0.04);
    --bg-secondary: rgba(42, 163, 239, 0.04);
  }
}
body {
  background: var(--bg-body);
  color: var(--color-primary);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bg-accent { background-color: var(--accent)}
.text-accent {color: var(--accent)}
.text-primary {color: var(--color-primary)} */


@layer base {
  :root {
    --bg-body: linear-gradient(252deg, #F7F9FA 12.74%, #F7F9FA 98.57%);
    --color-primary: #436475;
    --color-secondary: #f5f5f5;
    --color-accent: #4fd8e0;
    --bg-secondary: rgba(42, 163, 239, 0.04);
    --bg-secondary-solid: #E4F4FD;
    --color-muted: #6b7280;
    --color-bg: #eff6fa;
    --color-border: #d1d5dc;
    --shadow-dropdown: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
  }

  .dark {
    --bg-body: linear-gradient(0deg, #255878 0%, #15202B 98.36%);
    --color-primary: #F1F1F1;
    --color-secondary: #1f2937;
    --color-accent: #2aa3ef;
    --bg-secondary: rgba(42, 163, 239, 0.04);
    --bg-secondary-solid: #1f2e3a; 
    --color-muted: #9ca3af;
    --color-bg: #1a3649;
    --color-border: #e5e7eb;
    --shadow-dropdown: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
  }

  /* body {
    @apply bg-[var(--bg-body)] text-[var(--color-primary)];
  } */
  body {
    background: var(--bg-body);
    color: var(--color-primary);
  }
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }
  .text-muted-foreground {
    color: var(--color-muted);
  }
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--bg-secondary);
  }
  .bg-secondary-solid {
    background-color: var(--bg-secondary-solid);
  }
  .bg-accent {
    background-color: var(--color-accent);
  }
  .border-border {
    border-color: var(--color-border);
  }
  .bg-modal{
    background-color: var(--color-bg);
  }
  .shadow-dropdown {
    box-shadow: var(--shadow-dropdown);
  }
}

